* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-heading {
  font-size: 36px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item__container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 16px;
  border: 2px solid #333;
  width: 90%;
  height: 100%;
}

.list-item__name {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 600;
}

.list-item__del {
  border: 2px solid #333;
  height: 68px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item__del button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  padding: 4px;
}

.img-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.form-container {
  width: 40%;
  padding: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-btn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
